<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<style type="text/css">
			@import url("photoBox.css");
		</style>
		<title>photoBox</title>
	</head>
	<body>
		<div class="photoBox">
			<div class="photo">Photo</div>
			<div class="article">
				<div class="profile">
					<div class="img"></div>
					<p class="day">2020 11 21</p>
				</div>
				<div class="content">
					<h2 class="title">Title</h2>
					<p class="description">Description</p>
					<hr>
					<p class="info">ref : 0</p>
				</div>
			</div>
		</div>
	</body>
</html>

