p
{
	margin: 0 auto;
	font-size: 1rem;
}

div
{
	float :left;
	background-color: white;
	width: 100%;
	height: 30rem;
}

div.header
{
	background-color: black;
	color:white;
	width: 100%;
	height: 2rem;
}

div.footer
{
	background-color: black;
	color : white;
	width : 100%;
	height : 2rem;

}

