body
{
	margin : 0;
}

div
{
	background-color: white;
}

div.wrap
{
	float :left;
	width: calc(20rem + 20rem + 2rem + 2rem + 4 * 0.2rem);
	margin : 1rem;
}

div.in
{
	float :left;
	width : 20rem;
	height : 10rem;
	border: 0.2rem solid black;
	margin: 1rem;
}


