<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<style type="text/css">
			@import url("Login.css");
		</style>
		<title>Login</title>
	</head>
	<body>
		<div id="loginBox">
			<form>
				<h3>SIGN IN TO YOUR ACCOUNT</h3>
				<input class="inputId" type="text"/>
				<input class="inputPw" type="password"/>
				<input class="checkBox" type="checkBox"/><p class="checkBox">keep me signed in</p>
				<input class="submit" type="submit" value="SIGN IN" />
				<a herf=""><p>Forgot your password?</p></a>
			</form>
		</div>
	</body>
</html>

