p
{
	font-size: 2rem;
	margin: 0;
}


#nav
{
	background-color: red;
}

#nav ul
{
	float :left;
	list-style: none;
}

#nav ul li
{
	position: relative;
	float :left;
	margin-left: 2rem;
}

#nav ul li ul
{
	display:none;
	list-style: none;
	position: absolute;
	margin:0;
	padding: 0;
}

#nav ul li ul li
{
	float :none;
	margin : 0;
}

#nav ul li:hover > ul
{
	display: block;
}
